@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Global tweaks */
body {
  @apply bg-gray-50 text-gray-900;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  @apply font-semibold text-gray-800;
}

#myNav:hover{
  scale: 1.2;
  color:aquamarine;
}